@charset "utf-8";
.bodycontent_intro {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10pt;
	font-style: normal;
	line-height: 12pt;
}
.bodycontentnormal .bodycontent_intro p {
	font-size: 12pt;
	font-weight: bold;
}
.greytext {
	font-size: 9pt;
	color: #bbbbbb;
}
.blacktext {
	font-size: 9pt;
	color: #000000;
}
